@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body 
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(25, 25, 25);
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.title
{
    color: white;
    font-size: 50px;
    font-family: "Ubuntu Mono";
    position: relative;
    top: -150px;
}
.tut
{
    color:white;
    font-size: 30px;
    font-family: "Ubuntu Mono";
    position: relative;
    top: -110px;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Ubuntu Mono";
    position: relative;
    top: -70px;
}
a:hover
{
    color: #0095eb;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
    top: -68.5px;
}
.src
{
    color:white;
    font-size: 20px;
    font-family: "Ubuntu Mono";
    position: relative;
    top: 250px;
}
.src:hover
{
    color: #0095eb;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
    top: 252.5px;
}